.weightedScoreSliderTrack {
  background: var(--color-util-colors-blue-light-blue-light-500) !important;
}

.weightedScoreSliderTrack-1 {
  background: transparent !important;
}

.weightedScoreSliderTrack-dark {
  background: var(--tgai-primary-5) !important;
}

.weightedScoreSliderTrack-dark-1 {
  background: transparent !important;
}