.wrapper {
  border-color: #d0d5dd;
}

.checked {
  /* background: #155eef url(./assets/check.svg) center center no-repeat; */
  background: #ff0073 url(./assets/check.svg) center center no-repeat;

  background-size: 12px 12px;
  /* border-color: #155eef; */
  border-color: #ff0073;

}

.checked.disabled {
  background-color: #d0d5dd;
  border-color: #d0d5dd;
}